/* Border on the block that has #work-item */
div.ls-block[data-refs-self*="work-"] {
  border-radius: 8px;
  padding: 8px;
  background-color: #151518;
  margin:10px 0px;
}

div.ls-block[data-refs-self*="work-pack"] {
  background-color: #202024;
}

/* Optional: make it a bit cleaner by not double-bordering the properties area */
div.ls-block[data-refs-self*="work-"] .block-properties
 {
  margin-top: 6px;
  padding-top: 6px;
  background-color: #202024;
}

.ls-block:has(.block-marker.TODO) {
  background: #111113;
  border-radius: 6px;
  padding: 6px;
  margin:10px 0px;
}




/* hide all tags with prefix v. when not editing */
.ls-block:not(:hover):not(.is-editing) a.tag[data-ref^="v."],
.ls-block:not(:hover):not(.is-editing) a.tag[data-ref^="work-"] {
  display: none !important;
}





/* Hide the query builder bar (Live query + blue pills), keep results */
.ls-block:not(:hover):not(.is-editing) .cp__query-builder,
.ls-block:not(:hover):not(.is-editing) .th {
  display: none !important;
}
